.footer {
  width: 100vw;
  height: 5%;
  display: flex;
  flex: 1;
  padding: 2rem 0;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: fixed;
  
  
}

.footer p {
  font-size: 0.9rem;
  color: antiquewhite;
  padding-bottom: 35px;
  }

@media (min-width: 768px) {
  .footer p {
    padding-bottom: 10px;
  }
}

.moon {
  color: #fca400;
}