@import url('https://fonts.googleapis.com/css2?family=Cuprum&family=Syne&display=swap');

html,
body {
  padding: 0;
  margin: 0;
  }

p {
  font-family: 'Syne', sans-serif;
}

h1, h2, h3, h4 {
  font-family: 'Cuprum', sans-serif; 
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
